<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated uniRunningExample -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uniRunningExample.presentation.UniRunningExampleModelWizardID"
            name="%_UI_UniRunningExampleModelWizard_label"
            class="uniRunningExample.presentation.UniRunningExampleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UniRunningExampleModelFile.gif">
         <description>%_UI_UniRunningExampleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated uniRunningExample -->
      <editor
            id="uniRunningExample.presentation.UniRunningExampleEditorID"
            name="%_UI_UniRunningExampleEditor_label"
            icon="icons/full/obj16/UniRunningExampleModelFile.gif"
            extensions="unirunningexample"
            class="uniRunningExample.presentation.UniRunningExampleEditor"
            contributorClass="uniRunningExample.presentation.UniRunningExampleActionBarContributor">
      </editor>
   </extension>

</plugin>
