<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated accessControlMetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="accessControlMetamodel.presentation.AccessControlMetamodelModelWizardID"
            name="%_UI_AccessControlMetamodelModelWizard_label"
            class="accessControlMetamodel.presentation.AccessControlMetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AccessControlMetamodelModelFile.gif">
         <description>%_UI_AccessControlMetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated accessControlMetamodel -->
      <editor
            id="accessControlMetamodel.presentation.AccessControlMetamodelEditorID"
            name="%_UI_AccessControlMetamodelEditor_label"
            icon="icons/full/obj16/AccessControlMetamodelModelFile.gif"
            extensions="accesscontrolmetamodel"
            class="accessControlMetamodel.presentation.AccessControlMetamodelEditor"
            contributorClass="accessControlMetamodel.presentation.AccessControlMetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
