<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated uniRunningExample_view -->
      <package
            uri="http://www.example.org/uniRunningExample_view"
            class="uniRunningExample_view.UniRunningExample_viewPackage"
            genModel="model/uniRunningExample_view.genmodel"/>
   </extension>

</plugin>
